mymoviedb/staticfiles/portfolio_preview.mp4
mymoviedb/staticfiles/Toolkit_Rename.mp4
mymoviedb/staticfiles/mymoviedb-video.mp4
mymoviedb\portfolio\static\mymoviedb-video.mp4
C:\Users\alext\OneDrive\Desktop\VisualStudioCode\djmoviedb\mymoviedb\portfolio\static\Toolkit_Rename.mp4
C:\Users\alext\OneDrive\Desktop\VisualStudioCode\djmoviedb\mymoviedb\portfolio\static\portfolio_preview.mp4
C:\Users\alext\OneDrive\Desktop\VisualStudioCode\djmoviedb\mymoviedb\portfolio\static\mymoviedb-video.mp4
mymoviedb\portfolio\static\mymoviedb-video.mp4
mymoviedb\portfolio\static\Toolkit_Rename.mp4
staticfiles/Toolkit_Rename.mp4
staticfiles/mymoviedb-video.mp4
File staticfiles/portfolio_preview.mp4