<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMovie Database Register</title>


    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />


    {% load static %}


    <!-- Custom CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}" />
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBanN/6PmSRdXiYBqnQwOO+"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a
        id="navbar-brand-link"
        class="navbar-brand custom-brand custom-hover"
        href="/"
      >
        Trevor Lewis
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link custom-link" href="{% url 'projects' %}"
              >Projects</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link custom-link"
              href="{% static 'trevorlewisresume.pdf' %}"
              download
              >Resume</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link custom-link" href="/#contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="intro">
      <div class="container">
        <div class="text-center">
          <a href="{% url 'mymoviedatabase' %}">
            <img
              src="{% static 'mdlogo.png' %}"
              alt="MyMovie Database"
              class="logo-image"
            />
          </a>
        </div>
      </div>
    </section>

    <section class="register">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="register-form">
              <h2 class="text-center">Register</h2>
              <form
                action="{% url 'register' %}"
                method="POST"
                id="registration-form"
              >
                {% csrf_token %}
                <div class="form-group">
                  <label for="{{ form.username.id_for_label }}"
                    >Username:</label
                  >
                  {{ form.username }}
                  <small class="form-text text-muted"
                    >Required. 150 characters or fewer. Letters and digits
                    only.</small
                  >
                </div>
                <div class="form-group">
                  <label for="{{ form.email.id_for_label }}">Email:</label>
                  {{ form.email }}
                </div>
                <div class="form-group">
                  <label for="{{ form.password1.id_for_label }}"
                    >Password:</label
                  >
                  {{ form.password1 }}
                  <ul class="password-requirements">
                    <li>
                      Your password can't be too similar to your other personal
                      information.
                    </li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                  </ul>
                </div>
                <div class="form-group">
                  <label for="{{ form.password2.id_for_label }}"
                    >Password confirmation:</label
                  >
                  {{ form.password2 }}
                  <small class="form-text text-muted"
                    >Enter the same password as before for verification.</small
                  >
                </div>
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  {% for field in form %} {% for error in field.errors %}
                  <p>{{ error }}</p>
                  {% endfor %} {% endfor %}
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block">
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if messages %}
    <script>
      $(document).ready(function() {
        {% for message in messages %}
          {% if message.tags == 'success' %}
          var messageElem = $("<p class='text-center registration-message'>Registration Successful</p>");
          $('#registration-form').before(messageElem);
            setTimeout(function() {
              messageElem.fadeOut("slow", function() {
                window.location.href = "{% url 'mymoviedatabase' %}";
              });
            }, 5000);
          {% endif %}
          {% if message.tags == 'error' %}
          var errorMessageElem = $("<p class='text-center error-message'>{{ message }}</p>");
          $('#registration-form').before(errorMessageElem);
          {% endif %}
        {% endfor %}
      });
    </script>
    {% endif %}

    <!-- Developer details -->
    <section id="developer">
      <div class="developer-container">
        <div class="row">
          <div class="col-md-12">
            <h2>Learn More About How This Project Was Built</h2>
            <a
              href="{% url 'mymoviedatabase_developer' %}"
              class="btn btn-primary"
              >See Developer Details</a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
