/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.custom-brand {
  position: relative;
  font-size: 1.5rem;
}

.custom-brand:hover .nav-area {
  display: flex;
}

.custom-brand .nav-area{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display:-webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding:0;
}

.custom-brand .nav-area li{
  list-style: none;
}

.custom-hover:hover.navbar-brand {
  color: white;
  transition: .5s;
  }

.custom-brand .nav-area li a{
  position: relative;
  display: block;
  text-align: center;
  margin: 0 20px;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  padding: 5px 10px;
}

.custom-brand .nav-area li a:hover{
  color: #fff;
  background: black;
  transition: .5s;
}

.custom-brand .nav-area li a::before{
  content: '';
  position: absolute;
  bottom: 15px;
  left:15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 0 0 2px 2px;
  transition: .5s;
  opacity: 0;
}

.custom-brand .nav-area li a:hover:before{
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.custom-brand .nav-area li a:after{
  content: '';
  position: absolute;
  top:15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 2px 2px 0 0;
  transition:  .5s;
  opacity: 0;
}

.custom-brand .nav-area li a:hover:after{
  top:-8px;
  right: -8px;
  opacity: 1;
}

.custom-hover:hover {
  color: gold;
  background: black;
  transition: .5s;
}

.custom-brand .nav-area li a {
  z-index: 1;
}

.custom-hover:hover .nav-area li a {
  color: gold;
  transition: .5s;
}

.custom-hover:hover .nav-area li a:hover {
  color: #fff;
  background: gold;
  transition: .5s;
}

.custom-hover:hover .nav-area li a:hover:before {
  border-color: gold;
  transition: .5s;
}

.custom-hover:hover .nav-area li a:hover:after {
  border-color: gold;
  transition: .5s;
}
.custom-hover:hover {
  color: gold;
  background: black;
  transition: .5s;
}

.custom-hover:hover #navbar-brand-link.nav-link {
  color: gold;
  transition: .5s;
}


.custom-hover::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left:15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 0 0 2px 2px;
  transition: .5s;
  opacity: 0;
}

.custom-hover:hover:before {
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.custom-hover::after {
  content: '';
  position: absolute;
  top:15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 2px 2px 0 0;
  transition:  .5s;
  opacity: 0;
}

.custom-hover:hover:after {
  top:-8px;
  right: -8px;
  opacity: 1;
  color: gold;
}

.navbar-nav .nav-item .nav-link:hover::before {
  visibility        : visible;
  -webkit-transform : scaleX(1);
  transform         : scaleX(1);
  background-color  : gold;
}

.navbar-nav .nav-item .nav-link:hover {
  color: gold;
}


.navbar-toggler {
  border: none;
}

.nav-link {
  font-weight: bold;
  font-size: 1.2rem;
}

nav {
  background-color: #e6e6e6;
  height: 60px;
  padding: 0 20px;
}

nav a {
  color: gold;
  text-decoration: none;
}

nav #logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: auto;
}

.custom-link {
  display           : inline-block;
  position          : relative;
  font-size         : 1.3rem;
  color             : white;
  padding-bottom    : 5px;
  -webkit-transition: color 0.5s ease;
  transition        : color 0.5s ease;
}

.custom-link::before {
  position          : absolute;
  content           : '';
  width             : 100%;
  height            : 2px;
  bottom            : 0;
  left              : 0;
  background-color  : transparent;
  visibility        : hidden;
  -webkit-transform : scaleX(0);
  transform         : scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition        : all 0.3s ease-in-out 0s;
}

.custom-link:hover::before {
  visibility        : visible;
  -webkit-transform : scaleX(1);
  transform         : scaleX(1);
  background-color  : gold;
}
@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
  margin-left: 230px;
}

.search-section {
  background-image: url('movbackground2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  background-color: transparent;
}

.logo-image {
  position: absolute;
  top: 200px; /* Adjust as needed for positioning */
  left: 500px;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 25px; /* Adjust as needed for rounded edges */
  height: 25%;
}

.container {
  height: 100%;
  align-content: center;
  padding: 10px;
}

.search-card {
  height: 100px;
  top: 20px;
  margin-bottom: auto;
  right: -120px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card {
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: -10px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-body {
  padding-top: 20px; /* Adjust the value as needed */
}

.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 420px; 
  border: none;
}

.search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 50px; 
  border: none;
}

.btn-gold {
  background-color: #ffd700;
  border: none;
  color: #000;
}

.btn-gold:hover {
  background-color: #d4af37;
  color: #000;
}


/* Sidebar */
#sidebar {
  height: 100%;
  position: absolute;
  top: -10px;
  right: -568px;
  bottom: 0px;
  width: 470px;
}

/* Favorites Button */
.favorites {
  background-color: gold;
  text-align: center;
}

.favorites-btn {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 0;
  outline: none; 
}

.favorites-btn:focus {
  outline: none;
  border: none;
}



/* Middle Box */
.middle-box {
  background-color: rgba(255, 102, 102, 0.8);
  height: 65vh;
}

/* Dropdown Menu */

#menu1 {
  background-color: rgba(255, 102, 102, 0.8);
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  max-height: 61vh; 
  overflow-y: auto;  
}

.unfavorite-icon {
  color: gold;
  float: right;
  cursor: pointer;
}

.unfavorite-icon:hover {
  color: #d4af37;
}

.list-group-item {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  background: none; 
  border: none; 
  font-weight: bold; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.list-group-item:hover {
  background-color: rgba(255, 102, 102, 0.6);
  color: black;
}

/* Login Bar */
.login-bar {
  background-color: gold;
  text-align: center;
  position: absolute;
  bottom: -2.8vh;
  width: 100%;
}

.login-btn {
  background-color: gold;
  border: 2px solid black;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  padding: 5px 10px;
}

.login-btn:hover {
  background-color: rgba(255, 215, 0, 0.8);
  border: 2px solid black;
  color: black;
}

.arrow-down {
  color: black;
}

.arrow-up {
  color: black;
  transform: rotate(180deg);
}

.carousel-item .slide-box {
  height: 400px;
  width: 1000px;

}

#movcarousel h1 {
  font-size: 32px;
}

.movcarousel h1 {
  margin-left: -90px;
  border-left: 4px solid red;
  padding-left: 10px;
}

#carousel {
  width: 135%;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel {
padding: 30px;
left: -200px;

}

.slide-box {
display: flex;
justify-content: center;
max-width: 1800px;
}


.poster-img {
  margin-right: 10px;
  border-radius: 10px;
  width: auto; 
  min-width: 260px;
  height: 100%; 
  max-height: 500px;
  margin: 0 5px;
  object-fit: cover;
}



@media (min-width: 576px) and (max-width: 767.98px) {
.slide-box img {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
.slide-box img {
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
}

@media (min-width: 992px)
{
.slide-box img {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.movcarousel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
 
}

}
.carousel-card {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6); /* set the background color to black with a 60% opacity */
  padding-bottom: 10px;
  border-radius: 20px;
 
}

.carousel-control-prev {
  margin-left: 0px;
}

.carousel-control-next {
  margin-right: -30px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev.active,
.carousel-control-next.active {
  color: gold;
}

.carousel-indicators .active {
  background-color: gold;
}


.carousel-caption {
background-color: rgba(0, 0, 0, 0.5);
padding: 20px;
border-radius: .5rem;
}

/* Style for Developer Details section */

#developer {
  background-color: #e6e6e6;
  opacity: 1;
  display: flex;
  padding: 20px;
}

#developer h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#developer .developer-container{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
}
  
#developer p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#developer .btn {
  font-size: 20px;
}

#developer .col-md-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

