/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;
}

.navbar-brand {
font-weight: bold;
font-size: 1.5rem;
}

.custom-brand {
position: relative;
font-size: 1.5rem;
}

.custom-brand:hover .nav-area {
display: flex;
}

.custom-brand .nav-area{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
display:-webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
margin: 0;
padding:0;
}

.custom-brand .nav-area li{
list-style: none;
}

.custom-hover:hover.navbar-brand {
color: white;
transition: .5s;
}

.custom-brand .nav-area li a{
position: relative;
display: block;
text-align: center;
margin: 0 20px;
color: black;
font-size: 1.5rem;
text-decoration: none;
text-transform: uppercase;
transition: .5s;
padding: 5px 10px;
}

.custom-brand .nav-area li a:hover{
color: #fff;
background: black;
transition: .5s;
}

.custom-brand .nav-area li a::before{
content: '';
position: absolute;
bottom: 15px;
left:15px;
width: 15px;
height: 15px;
border: 2px solid black;
border-width: 0 0 2px 2px;
transition: .5s;
opacity: 0;
}

.custom-brand .nav-area li a:hover:before{
bottom: -8px;
left: -8px;
opacity: 1;
}

.custom-brand .nav-area li a:after{
content: '';
position: absolute;
top:15px;
right: 15px;
width: 15px;
height: 15px;
border: 2px solid black;
border-width: 2px 2px 0 0;
transition:  .5s;
opacity: 0;
}

.custom-brand .nav-area li a:hover:after{
top:-8px;
right: -8px;
opacity: 1;
}

.custom-hover:hover {
color: gold;
background: black;
transition: .5s;
}

.custom-brand .nav-area li a {
z-index: 1;
}

.custom-hover:hover .nav-area li a {
color: gold;
transition: .5s;
}

.custom-hover:hover .nav-area li a:hover {
color: #fff;
background: gold;
transition: .5s;
}

.custom-hover:hover .nav-area li a:hover:before {
border-color: gold;
transition: .5s;
}

.custom-hover:hover .nav-area li a:hover:after {
border-color: gold;
transition: .5s;
}
.custom-hover:hover {
color: gold;
background: black;
transition: .5s;
}

.custom-hover:hover #navbar-brand-link.nav-link {
color: gold;
transition: .5s;
}


.custom-hover::before {
content: '';
position: absolute;
bottom: 15px;
left:15px;
width: 15px;
height: 15px;
border: 2px solid black;
border-width: 0 0 2px 2px;
transition: .5s;
opacity: 0;
}

.custom-hover:hover:before {
bottom: -8px;
left: -8px;
opacity: 1;
}

.custom-hover::after {
content: '';
position: absolute;
top:15px;
right: 15px;
width: 15px;
height: 15px;
border: 2px solid black;
border-width: 2px 2px 0 0;
transition:  .5s;
opacity: 0;
}

.custom-hover:hover:after {
top:-8px;
right: -8px;
opacity: 1;
color: gold;
}

.navbar-nav .nav-item .nav-link:hover::before {
visibility        : visible;
-webkit-transform : scaleX(1);
transform         : scaleX(1);
background-color  : gold;
}

.navbar-nav .nav-item .nav-link:hover {
color: gold;
}


.navbar-toggler {
border: none;
}

.nav-link {
font-weight: bold;
font-size: 1.2rem;
}

nav {
background-color: #e6e6e6;
height: 60px;
padding: 0 20px;
}

nav a {
color: gold;
text-decoration: none;
}

nav #logo {
font-size: 1.3rem;
font-weight: bold;
margin-right: auto;
}

.custom-link {
display           : inline-block;
position          : relative;
font-size         : 1.3rem;
color             : white;
padding-bottom    : 5px;
-webkit-transition: color 0.5s ease;
transition        : color 0.5s ease;
}

.custom-link::before {
position          : absolute;
content           : '';
width             : 100%;
height            : 2px;
bottom            : 0;
left              : 0;
background-color  : transparent;
visibility        : hidden;
-webkit-transform : scaleX(0);
transform         : scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition        : all 0.3s ease-in-out 0s;
}

.custom-link:hover::before {
visibility        : visible;
-webkit-transform : scaleX(1);
transform         : scaleX(1);
background-color  : gold;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #f0f0f0;
    line-height: 1.6;
}


a {
color: #444;
text-decoration: none;
}

a:hover {
color: #007bff;
}

.text-card {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 5px;
}

section {
    margin-bottom: 50px;
}

section img {
    max-width: 100%;
    height: auto;
}

#intro {
    position: relative;
    height: 50vh;
    background-image: url('sketch.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.transparent-card {
    position: absolute;
    left: -198px;
    bottom: -186px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 205vh;
    height: 45vh;
}

.intro-heading {
    font-size: 3.5rem;
    color: white;
    margin: 0;
}

.section-heading {
    position: relative;
    display: inline-block;
}

.section-heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 1200px;
    height: 1px;
    background-color: black;
}

ul.a {
    list-style-type: circle;
}

#github-button {
    background-color: #333;
    padding: 20px 0;
    min-height: 20vh;
    margin-bottom: auto;
}

.btn-github {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem; 
    background-color: #3498db;
    padding: 20px; 
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-top: 15px; 
}

.btn-github:hover {
    background-color: gold;
}

.btn-github i {
    margin-right: 8px;
    font-size: 1.6rem; 
}

@media screen and (max-width: 768px) {
    #intro {
        flex-direction: column;
    }

    #intro img {
        margin-bottom: 30px;
    }
}

.portfolio-video {
    width: 104%;
}

/* Add a responsive rule for smaller screens */
@media screen and (max-width: 768px) {
    .portfolio-video {
        width: 100%;
    }
}

.video-container {
    position: relative;
}

.loading-spinner {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
background: rgba(255, 255, 255, 0.7);
}

.loading-spinner::before {
content: "";
border: 4px solid #f3f3f3;
border-top: 4px solid #3498db;
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
