/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  background-color: #e6e6e6;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #007bff;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.custom-brand {
  position: relative;
  font-size: 1.5rem;
}

.custom-brand:hover .nav-area {
  display: flex;
}

.custom-brand .nav-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;
}

.custom-brand .nav-area li {
  list-style: none;
}

.custom-hover:hover.navbar-brand {
  color: white;
  transition: 0.5s;
}

.custom-brand .nav-area li a {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 20px;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  padding: 5px 10px;
}

.custom-brand .nav-area li a:hover {
  color: #fff;
  background: black;
  transition: 0.5s;
}

.custom-brand .nav-area li a::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 0 0 2px 2px;
  transition: 0.5s;
  opacity: 0;
}

.custom-brand .nav-area li a:hover:before {
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.custom-brand .nav-area li a:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 2px 2px 0 0;
  transition: 0.5s;
  opacity: 0;
}

.custom-brand .nav-area li a:hover:after {
  top: -8px;
  right: -8px;
  opacity: 1;
}

.custom-hover:hover {
  color: gold;
  background: black;
  transition: 0.5s;
}

.custom-brand .nav-area li a {
  z-index: 1;
}

.custom-hover:hover .nav-area li a {
  color: gold;
  transition: 0.5s;
}

.custom-hover:hover .nav-area li a:hover {
  color: #fff;
  background: gold;
  transition: 0.5s;
}

.custom-hover:hover .nav-area li a:hover:before {
  border-color: gold;
  transition: 0.5s;
}

.custom-hover:hover .nav-area li a:hover:after {
  border-color: gold;
  transition: 0.5s;
}
.custom-hover:hover {
  color: gold;
  background: black;
  transition: 0.5s;
}

.custom-hover:hover #navbar-brand-link.nav-link {
  color: gold;
  transition: 0.5s;
}

.custom-hover::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 0 0 2px 2px;
  transition: 0.5s;
  opacity: 0;
}

.custom-hover:hover:before {
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.custom-hover::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-width: 2px 2px 0 0;
  transition: 0.5s;
  opacity: 0;
}

.custom-hover:hover:after {
  top: -8px;
  right: -8px;
  opacity: 1;
  color: gold;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-weight: bold;
  font-size: 1.2rem;
}

nav {
  background-color: #e6e6e6;
  height: 60px;
  padding: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav #logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: auto;
}

.custom-link {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  color: white;
  padding-bottom: 5px;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.custom-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.custom-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: gold;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.navbar-nav .nav-item .nav-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: aqua;
}

.navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: aqua;
}

/* Welcome section styles */
#welcome {
  background-image: url("tent.8b5f41771da2.png");
  background-color: #e6e6e6;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000;
}
.project-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #e6e6e6;
}

.project-entry {
  margin-bottom: 3rem;
  position: relative;
}

.project-entry .text-box {
  background-color: #333;
  color: #fff;
  width: 100%;
  position: absolute;
  left: 60px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-entry .text-box p {
  margin-bottom: 0;
}

.project-entry .image-box {
  position: relative;
}

.project-entry .image-box img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: grayscale(100%) sepia(50%) hue-rotate(180deg) saturate(300%)
    brightness(95%) contrast(85%) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.project-entry .image-box img:hover {
  filter: none;
}

/* Individual project section adjustments */
#project-movdb .project-entry .text-box {
  margin: 55px 0 0 -100px;
}

#project-toolbox .project-entry .text-box {
  margin: 75px 0 0 -100px;
}

#project-portfolio .project-entry .text-box {
  margin: 55px 0 0 -100px;
  top: -30px;
}


.project-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.project-buttons button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}


#project-movdb .project-buttons {
  margin-top: 14rem;
  margin-left: -1rem;
}

#project-toolbox .project-buttons {
  margin-top: 18.5rem;
  margin-left: -1rem;
}

#project-portfolio .project-buttons {
  margin-top: 15.5rem;
  margin-left: -1rem;
}

@media (max-width: 992px) {
  .project-entry .text-box {
    position: static;
    margin: 1rem 0;
    box-shadow: none;
  }

  .project-entry .image-box img {
    border-radius: 5px;
  
  }

  #project-movdb .project-entry .text-box,
  #project-toolbox .project-entry .text-box,
  #project-portfolio .project-entry .text-box {
    margin: 1rem 0;
  }

  #project-movdb .project-buttons,
  #project-toolbox .project-buttons,
  #project-portfolio .project-buttons {
    margin-top: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 768px) {

  
  .project-entry .image-box img {
    border-radius: 3px;
  }
}

@media (max-width: 576px) {
  #welcome h1 {
    font-size: 2.5rem;
  }

  .project-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .project-entry .image-box img {
    border-radius: 2px;
  }
}

